<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list padding>
    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of availableDevices'>
      <span (click)="selectDevice(device)">
        {{device.name}}
      </span>
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
    <ion-list-header>
      Connected Device
    </ion-list-header>
    <ion-item *ngIf="connectedDevice">
      {{connectedDevice.name}}
    </ion-item>
    <ion-spinner name="crescent" *ngIf="scanning"></ion-spinner>
    
  
  
  <form [formGroup]="settingsForm" (submit)="save()">
    <ion-list>
      <ion-item>
        <ion-label floating>Family emergency number</ion-label>
        <ion-input  type="text" formControlName="emergencyNumber"></ion-input>
      </ion-item>
      
  
      <ion-item>
        <ion-label>Current country</ion-label>
        <ion-select formControlName="country">
          <ion-option value="België">België</ion-option>
          <ion-option value="Finland">Finland</ion-option>
        </ion-select>
      </ion-item>
    
    
      <button type="submit"  style=" background-color:lightblue; width:100%" ion-button [disabled]="!settingsForm.valid">Save</button>
      </ion-list>
    </form>
  </ion-list>
</ion-content>
