<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list padding>
   <ion-list padding>

    <button ion-button block (click)="startScanning()" style='background-color: lightblue'>scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
    <button ion-button block (click)="disconnect()" style='background-color: lightblue'>Disconnect</button>
    <button ion-button block (click)="receive()" style='background-color: lightblue'>get message</button>
    <ion-item *ngIf='message'>
      <span >
        {{message}}
      </span>
    </ion-item>
  </ion-list>
    
  
  
  <form [formGroup]="settingsForm" (submit)="save()">
    <ion-list>
      <ion-item>
        <ion-label floating>Family emergency number</ion-label>
        <ion-input  type="text" formControlName="emergencyNumber" #emergency></ion-input>
      </ion-item>
      
  
      <ion-item>
        <ion-label>Current country</ion-label>
        <ion-select formControlName="country">
          <ion-option value="België">België</ion-option>
          <ion-option value="Finland">Finland</ion-option>
        </ion-select>
      </ion-item>
    
    
      <button type="submit"  style=" background-color:lightblue; width:100%" ion-button [disabled]="!settingsForm.valid">Save</button>
      </ion-list>
    </form>
  </ion-list>
</ion-content>
